.flex-container{
  display: flex;
  border: solid;
}
.side{
  width: 33.33%;
  background: rgb(193, 217, 255);
}
.main{
  width: 66.666%;
}
aside {
  width: 100%;
  max-width: 300px;
}
.bg-blue {
  background: rgb(255, 255, 255);
  border: solid;
}
.bg-grey {
  background: rgb(193, 217, 255);
}
.padding-sm {
  padding:30px;
  margin-left: auto;
}
h1, h2, p{
  margin-top: auto;
  text-align: center;
}
.img-circle{
  width: 100%;
  max-width: 300px;
  border-radius: 50%;
  border: solid;
}
h1, h2{
  font-family: 'Shadows Into Light', cursive;
}
p{
  font-family: 'Amatic SC', cursive;
  font-size: 25px;
}
.stache{
  width: 200px;
  height: 200px;
  margin: auto;
  background-image: url("dirtstache.png");
  background-size: contain;
  background-repeat: no-repeat;
}
