*{
  text-align: center;
}
header{
   background-color: rgb(232, 239, 252);
   text-align: center;
 }
header,h2{
    font-family: "Syncopate";
}
.info {
  display: flex;
  flex-direction: row;
}
.bio{
  border-bottom: solid;
}
.biopic{
  margin: auto;
  border: solid;
  border-radius: 50%;
}
